.actionbtnarea{
    width: 15% !important;
}

.flexgrid_tabs li{
    width: calc(16.66% - 4px) !important;
}
/* course card style for education tab */

.course__box .course__imgleft{
    border-radius: 16px;
    background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover !important;
  transition: .2s;
  overflow: hidden;
  height: 300px;
}

.coursemain_titlearea{
    display: flex;
}
.courseright__details{
    display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-right: 32px;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}

.courseicon__imgC img{
    width: 50px;
    margin-right: 12px;
}
.coursemain_titlearea{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.coursemain_titlearea .course-title__{
    font-size: 28px;
}
.courseshort__detailC{
    color: #c2b5c6;
    font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 10px;
}

.progress__areaP{
    display: flex;
    align-items: center;
}
.progress__areaP a{
    background-color: rgb(24, 84, 255);
  border: 1px solid rgb(24, 84, 255);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.nameandlecture_area{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.nameauthor__Course{
    color: #c0c0c0;
    display: inline-block;
    font-size: .8125rem;
    margin-right: 15px;
    vertical-align: middle;
}

 .lacture_Count{
    color: #c0c0c0;
    display: inline-block;
    font-size: .8125rem;
    margin-right: 15px;
    vertical-align: middle;
  }

  /* progressbar style */

 .mainprogressbox  .progress {
    background-color: #8243ee;
    border-radius: 0;
    height: 7px;
    transform: skewX(-45deg);
    width: 75%;
  }
 .mainprogressbox  .progress .progress-bar {
    background-color: #9884fc !important;
  }

  .mainprogressbox  .hexagon-box {
 
    margin: 0 auto;
    margin-left: auto;
    position: relative;
    width: 36px;
    margin-left: 10px;
  }

  .mainprogressbox .progresS-bg {
    font-size: 10px;
    height: 38px;
    position: relative;
    width: 34px;
    display: flex !important;
  justify-content: center;
  align-items: center;
  }
 .mainprogressbox .progresS-bg .fa-check {
    color: #9884fc;
    font-size: 12px;
  }
.mainprogressbox  .progresS-bg  .fa-check::before {
    content: "\f00c";
  }
  .mainprogressbox{
    display: flex;
    align-items: center !important;
  }

  .progress-bar {
    background-color: #9884fc !important;
    color: #fff;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: width .6s ease;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  }
  .mainprogressbox{
    margin-bottom: 14px;
  }
  .course-list li .row{
    align-items: center;
  }

  .filter__header__ {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #0f172a;
    border-radius: 6px;
  }
  #course-list li .row{
    margin: 20px;
    padding: 20px;
    border: 1px solid #283247;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #search-courses{
    border: 1px solid #1e2637;
  background: #0f172a;
  padding: 5px 10px;
  font-size: 14px;
  }
  .course__header_tit{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
  }
  .search-container label{
    color: #949494;
  font-size: 14px;
  }